


<form name = "eatform" class="create-update-form" id = "burger-form" action="/burgers/create" method="POST">
<div class="bmenu"></div>
<h1 class="slidein">Come in, eat da' Burgers</h1>

<h1 class="slideout">Low Calories</h1>
  
  <div class="form-group">
	  
	  
		  <div class="porder">
			  <h2>Place your Order</h2>
			    <div class= "bmania">
					    <label for="burger_name" class="nameofbl">Pick your Burger</label>
					    <select class="nameofb" name="burger_name">
					    <option value="Cheesy Burger"> Cheesy Burger</option>
					    <option value="Beany Burger"> Beany Burger</option>
					    <option value="Leafy Burger"> Leafy Burger</option>
					    <option value="Vegan Burger"> Vegan Burger</option>
					    </select>
					    <button type="submit" class="burger-button" id="give-burger">Add Burger</button>
			    </div>
		  </div>
   
</form>
</div>
  <div class="burger-ready" >
  <ul id ="orderq"> 
  
  </ul>

  </div>
  <div class="burger-eaten id="devourq">
  </div>
<script>
var oburger  = "";
  $( document ).ready(function() {
    
    $( "#burger-form" ).submit(function( event )
     {
			  event.preventDefault();
			  if ($("#orderq").children().length==4){
			    alert("Please devour a few burgers before ordering more. Enjoy!");
			    return;
			  }

			  console.log(event.data);
			  console.log("event " , event);
			  console.log($(".nameofb").val());
              
              var oburger = $(".nameofb").val();

			  switch (oburger) {

			  case "Cheesy Burger" :
                 oburgersrc = "../assets/images/cheesy.png";
                 break;
			  case "Beany Burger" :
			     oburgersrc = "../assets/images/beany.png";
			     break;
			  case "Leafy Burger" :
			     oburgersrc = "../assets/images/leafy.png";
			     break;
			  case "Vegan Burger" :
			     oburgersrc = "../assets/images/vegan.png";
			     break;

			  }

			  console.log(oburgersrc);

			  orderline =  "<img src="
			              + '"' + oburgersrc 
			              + '" '
			              +  ' class="theburger">'
			              + "</img> "
			             
			  devourbtn = "<button type="
			  + '"submit" > '
			  + "<img class="
			  + '"devc" id="devb"'
			  + "src= "
			  + '"../assets/images/devour.png"'
			  + ' width ="40" height="40" /> </button>';
			  ahtml = '<li class="bli">'
			        + orderline + devourbtn
			        +   "</li>";
			  $("#orderq").append(ahtml);
			  
			 console.log(ahtml);


	});


});
</script>
