


<form name = "eatform" class="create-update-form" id = "burger-form" action="/burgers/create" method="POST">
<div class="bmenu"></div>
<h1 class="slidein">Come in, eat da' Burgers</h1>

<h1 class="slideout">Low Calories</h1>
  
  <div class="form-group">
	  
	  
		  <div class="porder">
			  <h2>Place your Order</h2>
			    <div class= "bmania">
					    <label for="burger_name" class="nameofbl">Pick your Burger</label>
					    <select class="nameofb" name="burger_name">
					    <option value="Cheesy Burger"> Cheesy Burger</option>
					    <option value="Beany Burger"> Beany Burger</option>
					    <option value="Leafy Burger"> Leafy Burger</option>
					    <option value="Vegan Burger"> Vegan Burger</option>
					    </select>
					    <button type="submit" class="burger-button" id="give-burger">Add Burger</button>
			    </div>
		  </div>
   </div>
  
</form>

<div class = "btray"
	<div>
		<ul id ="orderq"> 

		</ul>
	</div>
	<div>
		<ul id ="devourq"> 

		</ul>
	</div>
</div>

<script>
var oburger  = "";
  $( document ).ready(function() {
    var orderno = 0;
    
    $( "#burger-form" ).submit(function( event )
     {
			  event.preventDefault();
			  if ($("#orderq").children().length==1){
			    alert("Your tray is full. Please devour your burger before ordering more. Enjoy!");
			    return;
			  }
               orderno++;
			  console.log(event.data);
			  console.log("event " , event);
			  console.log($(".nameofb").val());
              
              var oburger = $(".nameofb").val();

			  switch (oburger) {

			  case "Cheesy Burger" :
                 oburgersrc = "../assets/images/cheesy.png";
                 break;
			  case "Beany Burger" :
			     oburgersrc = "../assets/images/beany.png";
			     break;
			  case "Leafy Burger" :
			     oburgersrc = "../assets/images/leafy.png";
			     break;
			  case "Vegan Burger" :
			     oburgersrc = "../assets/images/vegan.png";
			     break;

			  }

			  console.log(oburgersrc);

			  orderline =  "<img src="
			              + '"' + oburgersrc 
			              + '" '
			              +  ' class="theburger">'
			              + "</img> "
			             
			  devourbtn = "<button "
			  + ' class="devc" id="devb" '
			  +  ' value= ' 
			  + orderno 
			  + ' >'
			  + "<img "
			  + "src= "
			  + '"../assets/images/devour.png"'
			  + ' width ="60" height="60" /> </button>';
			  ahtml = '<li class="bli"'
			          + '>'
			          + orderline + devourbtn
			          +   "</li>";
			   bhtml = '<li class="bli"'
			          + '>'
			          + orderline
			          +   "</li>";
			   $("#orderq").append(ahtml);
			 		  
			 console.log(bhtml);

     
        $(".bli #devb").on("click", function(e)
		{
	      $("#orderq .bli").remove();
	      $("#devourq").append(bhtml);
	      console.log(e);
	     
		});
        

	});



});
</script>
